            .navbar {
                background-color: #424242;
                overflow: hidden;
                padding: 0px;
            }

            .navbar li{
                list-style-type: none;
                float: left;
                color: white;
            }

            .navbar a{
                color: inherit;
                text-decoration: none;
                font-size: 24px;
                padding: 16px;
                display: inline-block;
            }

            .navbar li:hover {
                background-color: red;
            }

            .dropdown-content li{
                float: none;
            }

            .dropdown-content {
                padding: 0px;
                background-color: #424242;
                display: none;
                position: absolute;
                z-index: 10;
            }

            .dropdown:hover .dropdown-content{
                display: block;
            }

            .navbar .active {
                background-color: red;
            }

           #name {
               float: right;

           }

           .navbar #name:hover {
               background-color: none;
           }