.table {
    background: black;
}

.indexbody {
    background-color: #2E2E2E;
}

.homename {
    color: white;
}

.resumebody {
    background-color: #2E2E2E;
}

.red {
    color: red;
}

.white {
    color: white;
}

.contactbody {
    background-color: #2E2E2E;
}

.aboutbody {
    background-color: #2E2E2E;
}

#underline {
    text-decoration: underline;
}

#aboutmetext {
    text-align: left;
    color: white;
    font-size:14px;
}